body {
    font-family: Arial, sans-serif;
    background-color: #ee6352;
    margin: 0;
    padding: 0;
    color: #522A27;
}

header {
    background-color: #b0d0d3;
    padding: 20px;
    text-align: center;
    color: #F4FFF2FF;
}

nav {
    background-color: #ffc2e2;
    text-align: center;
    padding: 10px;
    color: #fff;
}

nav a {
    color: #313131;
    text-decoration: none;
    margin: 10px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: #522A27;
}

.menu-item {
    border: 5px solid #f3de6a;
    border-radius: 10px;
    margin: 10px;
    background-color: #f3de6a;
    color: #49392c;
}

@media screen and (max-width: 768px) {
    header {
        font-size: 24px;
    }

    body {
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    .container {
        padding: 10px; /* Add some padding to the container for smaller screens */
    }

    /* Adjust the layout of menu items for smaller screens */
    .menu-item {
        margin-bottom: 20px;
    }
}
